html, body {
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div, p, textarea {
  box-sizing: border-box;
}

section, article, header, main, aside, footer, nav {
  box-sizing: border-box;
}

textarea {
  outline: none;
}