.page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .page-header, .page-body, .page-footer {
    background-color: map-get($--color, "white");
  }

  .page-header, .page--footer {
    flex: 0 1 1px;
  }

  .page-header {
    margin: map-get($--space, "sm");
    margin-bottom: 0;
    >.content {
      padding: map-get($--space, "sm");
      padding-bottom: 0;
    }
  }

  .page-body {
    flex: 1 1 auto;
    margin: 0 map-get($--space, "sm");
    overflow: hidden;

    >.content {
      padding: map-get($--space, "sm");
      width: 100%;
      height: 100%;
      overflow: auto;
    }
  }

  .page-footer {
    margin: map-get($--space, "sm");
    margin-top: 0;

    >.content {
      padding: map-get($--space, "sm");
      padding-top: 0;
    }
  }
}